/* navbar */

#navbar {
    background-color: #FAF4F4!important;
    box-shadow: -3px -3px 9px #aaa9a9a2, 3px 3px 7px rgb(147 149 151 / 30%);

}
a.nav-link{
    color:#008993 ;
}

body{
    background-color: #FAF4F4;
}

h1 {
    width: 50%;
    COLOR: #008993;
    margin-top: 10%;
    font-size: 70px;
    text-align: left;
    padding: 5%;
}
img {
    float: right;
}
#banner{
    
}